.btn {
    position: relative;
    right: -600px;
    margin-top: -90px;
}

.logo-carro {
    color: #fff;
    font-size: 23px;
}

@media (max-width: 599px) {
    .btn {
        right: -150px;
        margin-top: -80px;
    }
}

@media(min-width: 600px) and (max-width: 1023px) {
    .btn {
        right: -300px;
        margin-top: -80px;
    }
}

@media(min-width: 1023px) and (max-width: 1200px) {
    .btn {
        right: -500px;
        margin-top: -80px;
    }
}