.cart h1 {
    color: #48e;
    font-size: 30px;
    margin: 4px;
}

.cart a {
    padding: 0;
    margin: 0;
    font-size: 0px;
}

.cart button {
    position: relative;
    bottom: 35px;
    margin: 5px;
    margin-left: 1200px;
    border: none;
    outline: 0;
    padding: 5px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 10%;
    font-size: 15px;
}

.cart button:hover {
    opacity: 0.7;
}

.cart-products {
    display: flex;
    position: relative;
    left: 5px;
    max-width: 250px;
    height: 250px;
    text-align: center;
    background-color: #fff;
    margin: 4px;
    border-radius: 10px;
}

.cart-products .btn-delete {
    background: none;
    color: red;
    font-size: 25px;
}

.cart-products .cont-detalle {
    display: flex;
    width: 600px;
    align-items: center;
}

.cart-products .title-products {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    width: 200px;
    height: 80px;
    justify-content: center;
}

.cart-products button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.cart-products,
.limp-carro {
    position: relative;
    right: 150px;
    top: -77px;
}

.cart-products button:hover {
    opacity: 0.7;
}

.cart-products img {
    width: 250px;
    height: 265px;
}

.compra-final {
    display: flex;
    flex-direction: column;
    position: fixed;
    border: 1px solid #000;
    height: 200px;
    width: 300px;
    left: 1020px;
    bottom: 140px;
    color: #fff;
    text-align: center;
}

.compra-final .btn-fin-compra {
    margin: auto;
    border: none;
    outline: 0;
    padding: 4px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    width: 50%;
    font-size: 18px;
}

.compra-final h4 {
    color: #48e;
    text-align: center;
}

@media (max-width: 599px) {
    .cart {
        margin: 3px;
    }
    .cart h1 {
        font-size: 20px;
    }
    .cont-detalle {
        display: flex;
        flex-direction: column;
    }
    .cart-products .title-products {
        margin: 5px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-size: 17px;
    }
    .cart button {
        width: 85px;
        position: relative;
        right: 900px;
        bottom: 10px;
    }
    .limp-carro {
        border: 2px solid red;
        position: relative;
        left: -1000px;
        top: -75px;
    }
    .compra-final {
        position: relative;
        left: 70px;
        bottom: 10px;
    }
}

@media(min-width: 600px) and (max-width: 1100px) {
    .cont-detalle {
        display: flex;
        flex-direction: column;
    }
    .cart button {
        width: 85px;
        position: relative;
        right: 450px;
        bottom: 10px;
    }
    .limp-carro {
        border: 2px solid red;
        position: relative;
        left: -600px;
        top: -75px;
    }
    .compra-final {
        position: relative;
        left: 550px;
        bottom: 800px;
    }
}