.resta {
    color: #f51d1d;
    font-size: 30px;
    margin: 8px 10px;
}

.suma {
    color: #f51d1d;
    font-size: 30px;
    margin: 8px 10px;
}

.conteo {
    position: relative;
    bottom: 10px;
    font-size: 25px;
    margin: 13px;
}