* {
    margin: 0;
    padding: 0;
}

.menu-container {
    background: #2C2A2A;
    height: 70px;
}

.menu {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo-menu {
    color: #f51d1d;
}

.nav-menu {
    position: relative;
    margin: 50px auto;
}

.item-menu {
    color: #f51d1d;
    text-decoration: none;
}

.item-menu:hover {
    color: #fff;
    transition: .2s;
}

.logo {
    color: #fff;
    font-size: 25px;
    position: relative;
    left: 10px;
    top: 2px;
}

.logo-carro {
    color: #f51d1d;
    font-size: 23px;
}

.resta {
    color: #f51d1d;
    font-size: 30px;
    margin: 8px 10px;
}

.suma {
    color: #f51d1d;
    font-size: 30px;
    margin: 8px 10px;
}

.conteo {
    position: relative;
    bottom: 10px;
    font-size: 25px;
    margin: 13px;
}

.btn-carrito {
    top: 22px;
    right: 108px;
    position: relative;
    border-bottom: 2px solid #000;
    background: #333;
    padding: 2px;
    color: #fff;
}

.btn-carrito:hover {
    background: #f51d1d;
    border-bottom: 2px solid #333;
}