* {
    margin: 0;
    padding: 0;
}

.menu-container {
    background: #2C2A2A;
    height: 70px;
}

.menu {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo-menu {
    color: #f51d1d;
}

.nav-menu {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
}

.item-menu {
    color: #f51d1d;
    text-decoration: none;
}

.item-menu:hover {
    color: #fff;
    transition: .2s;
}

.logo {
    color: #fff;
    font-size: 25px;
    position: relative;
    right: 470px;
    top: 3px;
}